{% include header.html %}

<div class="row">
	<div class="col-sm-4">
		{% include sidebar.html %}
	</div>
	<div class="col-sm-8">

        {% assign my_collections = site.collections | sort: "weight" %}
        {% for collection in my_collections %}                    
            {% unless collection.label == "posts" %}
            <section id="{{ collection.label }}">
                <h2 class="cat-title">{{ collection.display_name }}</h2>
                    <div>                
                
                  {% assign my_docs = collection.docs | sort: "weight" %}
                  {% for item in my_docs %}
                        <a href="{{ item.url }}">
                        <img src="{{ item.thumb | prepend: site.imagesurl }}" alt="{{item.title}}">
                        </a>
                  {% endfor %}
                    </div>
            </section>
            {% endunless %}
        {% endfor %}
        
        <section id="a-propos">
 <h2>À propos</h2>
 <p>Designer industriel et artiste de formation, je suis une fabricante de tous les jours basée à Montréal. <br>
Passionnée de rangement et d’organisation, je me laisse inspirer par les matériaux et les objets pour optimiser les petits espaces à partir de recyclé, de trouvé ou de local. </p>

<p>Je conçois, fabrique et retape dans une optique “zéro déchet”, en revalorisant des matériaux post-consommation et en réduisant les pertes au maximum. </p>

<p>J’aime le bois, la laine, les carrés et les projets conceptuels. Je suis amatrice de quiz et d’éphémérides. Pour m'évader, je cuisine et je jardine. Partout et tout le temps, il y a de la radio dans mes oreilles. </p>

<p>Je peux vous aider à vous organiser. Faites-moi signe!</p>
</section>
	</div>
</div>


{% include footer.html %}